<header class="header">
  <div class="header-inner">
    <div class="mt-1 mb-1 mx-1">
      <div class="container">
        <div class="row">
          <div class="col col-lg-8">
            <%= link_to root_path do %>
              <%= image_tag "follotter_icon.png", class: "follotter_icon" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="main">
  <div class="wrapper">
    <div class="container">
      <h4>お問い合せ</h4>
      <div class="col-md-10 mt-3 mb-5">
        <p>ユーザーの皆さまの情報の開示、情報の訂正、利用停止、削除をご希望の場合は、以下のメールアドレスにご連絡ください。<br>
          ご感想もお待ちしております。
        </p>
        <h6>e-mail<br>follotter.info@follotter-app.com</h6>
      </div>
    </div>
  </div>
</main>