<div class= "container">
  <div class="row">
    <h1>Twitterターゲット特定支援サービス（仮）</h1>
    <p>About</p>
    <p>Aboutの説明</p>
    <%= link_to 'Login with Twitter', auth_at_provider_path(provider: :twitter) %>
  </div>
</div>
