<footer class='footer'>
  <ul class="row justify-content-md-center">
    <div class="col-auto footer-link">
      © 2022 #FOLLOTTER
    </div>
    <div class="col-auto">
      <%= link_to '利用規約', '#', class: "footer-link" %>
    </div>
    <div class="col-auto">
      <%= link_to 'プライバシーポリシー', '#', class: "footer-link" %>
    </div>
  </ul>
</footer>