/*header*/

.header {
  position: fixed;
  color: #727272;
  background-color: #ffffff;
  background-image: none;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  z-index: 2;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

.start {
  white-space: nowrap;
}

.inquiry-link {
  text-decoration: none;
  color: #727272 ;
  white-space: nowrap;
}

/*application*/

.body {
  background-color: #F5F8F9;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  -webkit-text-size-adjust: 100%;
}

/*top*/

.main{
  z-index: 1;
}

.wrapper {
  padding: 100px 10px 10px;
}

.list-group li {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 2;
}

.top-text {
  line-height:200%;
}

.start-button {
  padding: 10px 50px;
}

.how-to-icon {
  max-width: 80%;
  max-height: 80%;
}

/*index*/
.index-header {
  white-space: nowrap;
  overflow: hidden;
}

.name {
  text-decoration: none;
  color: #212429;
}

.results_text {
  display: inline-block;
  color: #888888;
}

.form-group {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1;
}

.p-height {
  line-height: 30%;
}
/*footter*/

.footer {
  position: fixed;
  bottom: 0;
  color: #ffffff;
  background-color: #2A2B2C;
  background-image: none;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.footer-link{
  text-decoration: none;
  color: #ffffff;
  ;
}

.follotter_icon {
  width: 100%;
  max-width: 200px;
}
